<div class="clock-container">
    <div class="clock-frame"></div>
    <div class="clock-hour"></div>
    <div class="clock-minute"></div>
    <div class="clock-second"></div>
    <div class="clock-center"></div>

    <div class="clock-hour-label hour0"></div>
    <div class="clock-hour-label hour3"></div>
    <div class="clock-hour-label hour6"></div>
    <div class="clock-hour-label hour9"></div>

</div>

<div class="time">
    <div class="time-hour0 digit-wrapper">
        <div class="digit">0</div>
    </div>
    <div class="time-hour1 digit-wrapper">
        <div class="digit">0</div>
    </div>:<div class="time-minute0 digit-wrapper">
        <div class="digit">0</div>
    </div>
    <div class="time-minute1 digit-wrapper">
        <div class="digit">0</div>
    </div>:
    <div class="time-second0 digit-wrapper">
        <div class="digit">0</div>
    </div>
    <div class="time-second1 digit-wrapper">
        <div class="digit">0</div>
    </div>
</div>