<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carousel UI</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <!-- Navbar -->
  <%- include('./partials/navbar', { pages }) %>

    <!-- Carousel Containers-->
    <div class="carousel">
      <% pages.forEach(page=> { %>
        <div class="carousel-item" id="<%= page.id %>">
          <div class="carousel-content"></div>
        </div>
        <% }) %>
    </div>

    <!-- Scripts -->
    <script src="/config.js"></script>
    <script src="/js/pageLoader.js"></script>
    <script src="/js/carouselController.js"></script>
    <script src="/js/clockController.js"></script>
    <script src="/js/formHandler.js"></script>
    <script src="/js/usersLoader.js"></script>
</body>

</html>